/*------------------ All Pages Style ------------------*/
body{
    background-color: rgb(231, 222, 213);
    height: inherit;
    width: inherit;
    place-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif ;
}
* { 
    margin: 0;
    box-sizing: border-box;}

html{
    height: 100vh;
    width: 100vw;
    background-color:  rgb(231, 222, 213);
    max-height: none;
}
head{
    width: inherit;
}

link{
    color: inherit;    
}

.container{
  padding-top: 40px;
  display: flex;
  flex: auto;
  
}

.menu li{list-style: none;
    display: flex;
}
ul{padding-left: 0;}

.menu a{
font-family: Arial, Helvetica, sans-serif;
color: black;
padding-right: 10px;
text-decoration: none;
}
.menu li:hover a{color: rgb(222, 117, 61);
    transition: .5s ease;}


/*------------------  Navigation bar ------------------*/
.wrapper {
    box-sizing: border-box;
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 183, 125);
    place-items: center;
    justify-content: center;
}

.page-header, .page-footer {
    flex-grow: 0;
    flex-shrink: 0;
    min-height: 8vh;
    padding: 20px;
    height: inherit;
    width: 70vw;
    color: black;
    display: flex;
    background-color: inherit;
    place-items: center;
    justify-items: center;
    justify-content: center;
    
}
.menu_container{
    width: 70vw;
    place-items: center;}
    
.menu{
    display: flex;
    font-size: 23px;
    line-height: 1.5;
    background-color: inherit;}

.main_wrapper{
    background-color: rgb(233, 207, 180);
    height: fit-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    place-items: center;
    align-items: center;
    padding-bottom: 20px;
}

.main_container{
    background-color: inherit;
    width: 70vw;
    height: fit-content;
    margin-top: 40px ;

}    

.main_container_homepage:after{
  background-color: inherit;
  width: 70vw;
  height: fit-content;
  margin-top: 40px ;
  content: "";
  display: table;
  clear: both;
}    

.info_perso{
    float: left; 
    width: 70%;
    font-size: 18px;
    height: inherit;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}
.info_perso a{
    color: black;
}

@media screen and (max-width: 829px){
    div.image_perso {
        display: none;
    }

    .info_perso{
        float: left; 
        width: inherit;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        color:black;
    }
}

@media screen and (min-width: 830px){

    div.image_perso {
        position: relative;
        display: flex;
        margin: 1px;
        width: auto;
    }
    
    div.image_perso img {
        padding-left: 30px;
        display: flex;
        position: relative;
        width: 100%;
        float: right;
        height: inherit;
        max-height: 30%;
          }
}
/*------------------  Hompage styling carousel ------------------*/

.gallery {
    background: inherit;
    height: fit-content;
  }
  .gallery-cell {
    width: 70vw;
    height: auto;
    place-items: center;
    justify-items: center;
    margin-right: 5px;
    background: rgb(255, 255, 255);
    counter-increment: gallery-cell;
  }
  
  /* cell position */
  .gallery-cell:before {
    display: flex;
    place-items: center;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
  }
  .carousel-image {
    display: grid;
    height: auto;
    place-items: center;
    min-width: 150px;
    max-width: 100%;
    margin-right: 10px;
  }

  .picture_info{
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1;
    width: inherit;
    font-family: Arial, Helvetica, sans-serif;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  
  .gallery-cell:hover .picture_info{
    opacity: 1;
}
  
  .carousel.is-fullscreen .carousel-image {
    height: auto;
    max-height: 100%;}


/*------------------ Project ------------------*/
.main-project{
  position: relative;
  display: table-row;
  height: auto;
  width: inherit;
  display: flex;
  flex-direction: row;
  padding-bottom: 60px;
}

.project_div{
  padding-top: 20px;
}

.main_container_project{
  background-color: inherit;
  width: 70vw;
  height: auto;
  display: flex ;
  flex-direction: column;
}

.project_detail_button{
  position: relative;
  display: flex;
  flex-direction: row;
  place-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  width: 100px;
  height: 40px;
  transition-duration: 0.4s;
  background-color: transparent;
  color: black;
  border: 2px solid rgb(227, 156, 118);
  border-radius: 12px;
}

.project_detail_button:hover {
  background-color: rgb(227, 156, 118);
}

.small_project_description{
  display: flex;
  height: fit-content;
  padding-right: 8px;
}

.project_img_div{
  padding: 20px;
  display: flex;
  flex-direction: row;
  height: 200px;
}

.project_img{
  height: inherit;
  width: auto;

}

.main-project_reversed{
  position: relative;
  display: table-row;
  height: fit-content;
  width: inherit;
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 60px;
}

.project_content{
  padding-top: 20px;
}
/*------------------  CV ------------------*/
  
section {
    min-height: 100vh;
    padding-top: 20px;
  }
  @media screen and (min-width: 830px) {
    section {
      padding-top: 10px;
    }
  }
  

  a {
    transition: all 0.2s ease-in-out;
    color: black;
  }
  a:hover, a:focus {
    text-decoration: none;
    color: #00302c;
  }
  
  .sectionHeading {
    margin-bottom: 20px;
    color: black;
  }
  
  ::-moz-selection {
    background: inherit;
    background: inherit;
    text-shadow: none;
  }
  
  ::selection {
    background: inherit;
    background: inherit;
    text-shadow: none;
  }
  
  img::-moz-selection {
    background: transparent;
  }
  
  img::selection {
    background: transparent;
  }
  
  img::-moz-selection {
    background: transparent;
  }
  
  .shadow-nohover {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  @-webkit-keyframes animatop {
    0% {
      opacity: 0;
      bottom: -500px;
    }
    100% {
      opacity: 1;
      bottom: 0px;
    }
  }
  
  @keyframes animatop {
    0% {
      opacity: 0;
      bottom: -500px;
    }
    100% {
      opacity: 1;
      bottom: 0px;
    }
  }
  @-webkit-keyframes rotatemagic {
    0% {
      opacity: 0;
      transform: rotate(0deg);
      top: -24px;
      left: -253px;
    }
    100% {
      transform: rotate(-30deg);
      top: -24px;
      left: -78px;
    }
  }
  @keyframes rotatemagic {
    0% {
      opacity: 0;
      transform: rotate(0deg);
      top: -24px;
      left: -253px;
    }
    100% {
      transform: rotate(-30deg);
      top: -24px;
      left: -78px;
    }
  }
  
  .experience {
    border-left: 3px solid rgb(222, 117, 61);
    padding: 30px;
    margin-left: 185px;
  }
  @media screen and (max-width: 829px) {
    .experience {
      margin-left: 0;
      padding-right: 0;
    }
  
  }
  .experience .item {
    position: relative;
    margin-bottom: 40px;
  }

  .experience .item::after {
    content: "";
    position: absolute;
    left: -37px;
    top: 6px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgb(222, 117, 61);
  }
  .experience .company-name {
    padding-bottom: 10px;
    font-size: 15px;
    color: rgb(222, 117, 61);
  }
  .experience .location {
    position: absolute;
    right: 0;
    top: 2px;
  }
  .experience .location .fa {
    margin-right: 8px;
  }
  .experience .job-info {
    position: absolute;
    left: -185px;
    top: 0;
  }
  .experience .job-info .title {
    color: rgb(222, 117, 61);
    max-width: 80px;
  }
  .experience .job-info .date {
    max-width: 100px;
    font-size: 15px;
  }

  @media screen and (max-width: 829px) {
    .experience .job-info {
      position: static;
      margin-bottom: 1rem;
    }
    .experience .job-info .date {
      max-width: 100%;
      font-size: 15px;
    }
    .experience .job-info .title {
      color: rgb(222, 117, 61);
      max-width: 100%;
    }
    
  }